*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body, #root{
  height:100%;
  width:100%
}

html{
  background-color: #212121;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.notes{
  display:flex;
  gap:1rem;
padding-inline: 3rem;
   padding-block: 1rem;
  
}
.note{
  background-color: #414141;
  color:rgb(243, 235, 221);
  max-width:20rem;
     padding: 2rem;
 
  border-radius:1rem
}

.form{
  padding: 1rem;
  padding-left: 3rem;
}

.input{
  padding:0.3rem;

}
.btn{
  padding: 0.3rem;
}
form{
  display:flex;
  gap:6px;
}